.message {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.messageTop {
    display: flex;
    flex-direction: row;
}

.messageImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.messageText {
    padding: 10px;
    border-radius: 20px;
    background-color: #e6e6e6;
    color: black;
    max-width: 300px;
    border: 2px solid black;
}

.messageBottom {
    font-size: 12px;
    margin-top: 3px;
    display: flex;
    justify-content: flex-start;
    padding-left: 46px;
}

.messageBottom span {
    padding-right: 5px;
    font-weight: 500;
}

.message.own {
    align-items: flex-end;
}

.message.own .messageText {
    background-color: #fff319;
    color: black;
    border: 2px solid black;
}

.message.own .messageTop {
    flex-direction: row-reverse;
}

.message.own .messageImg {
    margin-left: 10px;
}

.messageBottom.own {
    padding-right: 54px;
}